@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Dongle&display=swap');

*{
    font-family: 'Caveat', cursive;
    font-weight: 700;
}
.hidden{
    display: none;
}
#randomBackgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 80%;
    left: 0;
    top: 0;
}